<table class="table companytable">
    <tr>
        <td><h3>Details for {{Company.companyName}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Company Description</td>
        <td>{{Company.companyDesc}}</td>
    </tr>
    <tr>
        <td>Contract ID</td>
        <td>{{Company.contractId}}</td>
    </tr>
    <tr>
        <td>Contact Name</td>
        <td>{{Company.contactName}}</td>
    </tr>

</table>
<div>
    <a class="btn btn-primary" ui-sref="editCompany({companyName:Company.companyName})">Edit</a>
</div>